$primary: #59C0A4;
$secondary: #1E2424;
$darkBlue: #121E32;
$lightBlue: #F4F7FD;
$darkGreen: #488995;
$lightGreenBG: rgba(72, 137, 149, 0.20);
$lightGreen: #F2FAF8;
$red: #EC787D;
$lightRed: rgba(236, 120, 125, 0.20);
$grey: #666;
$darkGrey: #999;
$black: #000;
$lightBlack: #292E2E;
$white: #fff;
$darkBlack :#444;
$borderColor: #F2F2F2;