
$lightBlue: #F4F7FD;
$darkGreen: #488995;
$lightGreen: #F2FAF8;
$red: #EC787D;
$grey: #666;
$darkGrey: #999;
$darkBlack :#444;
$themebg : #F3D1BF;
$LightPink : #FDF0E9;
$lightBlack: #292E2E;
$greenBtn : #59C0A4;
$white: #FFFFFF;
$black: #000000;
$secondary : #28293E;
$primary : #EF6D58;
$borderColor : #F3D1BF;
$darkBordercolor : #3A3C56;
$grey2b :#1c1c1c;
$black06 : #060606;