// $primary: #59C0A4;
// $secondary: #1E2424;
$darkBlue: #121E32;
$lightBlue: #F4F7FD;
$darkGreen: #488995;
$lightGreenBG: rgba(72, 137, 149, 0.20);
$lightGreen: #F2FAF8;
$red: #EC787D;
$lightRed: rgba(236, 120, 125, 0.20);
$grey: #666;
$darkGrey: #999;
$black: #000;
$white: #fff;
$darkBlack :#444;
$borderColor: #F2F2F2;


$themebg : #F3D1BF;
$LightPink : #FDF0E9;

$lightBlack: #292E2E;
// $primary : #F3D1BF;

$greenBtn : #59C0A4;
$white: #FFFFFF;
$black: #000000;
$secondary : #28293E;
// $primary : #391400;
$primary : #EF6D58;
$textColor : #391400A3;
$bordercolor : #F3D1BF;
$darkBordercolor : #3A3C56;

$grey2b :#1c1c1c;
$black06 : #060606;